[Unit]
Description=a tool for managing secrets
Documentation=https://vaultproject.io/docs/
After=network.target
ConditionFileNotEmpty=/opt/vault/vault.hcl

[Service]
#Environment=VAULT_ADDR='http://127.0.0.1:8200'
User=vault
Group=vault
ExecStart=/opt/vault/vault server -dev -log-level=debug -config=/opt/vault/vault.hcl
ExecReload=/usr/local/bin/kill --signal HUP $MAINPID
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
Capabilities=CAP_IPC_LOCK+ep
SecureBits=keep-caps
NoNewPrivileges=yes
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
